@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FAFAF9;
  color: #18181B;
}

::selection {
  background-color: #EAF3FC;
  color: #18181B;
}
